/* cgl.css */
body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.cgl_controls {
	position:fixed;
	bottom: 40px;
	width: 100%;
	text-align: center;
}
.cgl_controls .cgl_controls_container {
	display: inline-block;
}
.cgl_controls .cgl_button {
	position: static;
	padding: 10px 10px 10px 10px;
	margin: 0;
	background-color: #333333;
	border: 1px solid black;
	cursor: pointer;
	border-radius: 0;
}
.cgl_controls .cgl_slider {
	-webkit-appearance: none;
	appearance: none;
	background-color: #777777;
	height: 8px;
	padding: 0;
	margin: 21px 0px 21px 0px;
	border: none;
	border-radius: 8px;
}
.cgl_slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background: white;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	cursor: pointer;
}
.cgl_slider::-moz-range-thumb {
	background: white;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	cursor: pointer;
}
.cgl_slider_container {
	display: inline-block;
	background-color: #333333;
	position: static;
	padding: 10px 10px 10px 10px;
	border: 1px solid black;
}
.cgl_controls .cgl_button:active {
	transform: translate(0px, 1px);
}
.cgl_controls .cgl_button:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.cgl_controls .cgl_button:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
